
body,html{
overflow:hidden;
}

#overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
z-index:2000;
}

#localVideo{
    z-index:1;
}
 .video{
     width: 100%;
     height:100%;
     background-color:#444;
     position:absolute;
     top:0px;
     left:0px;
     z-index:0;
 }

 #nocam i{
     color: #eee;
     width: 100%;
     text-align: center;
     font-size: 32vw;
     margin-top: 20%;
 }
.talking#username .value {
	color: rgba(0,255,0,0.7) !important;
}

.panel{
background-color: #009688;
border-radius: 0px;
}
.panel-body{
padding: 3px;
  height: 100%;
  margin-top: -36px;
  padding-top: 36px;
}

#username{
position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding-left:5px;
  background-color: rgba(0,0,0,0.7);
  color: #ccc;
  font-size: 14px;
  height: 25px;
  padding: 2px 4px;
}

#info{
position: absolute;
  bottom: 25px;
  width: 100%;
  height:40px;
  left: 0;
  padding-left:5px;
  background-color: rgba(0,0,0,0.7);
  color: #ccc;
  font-size:12px;
  font-weight:bold;
}

.iconbar{
margin: 1px;
float:right;
}
.iconbar i{
font-size:18px;
}